# ### ignore selenium profiles
# selenium_prof/
# sele_profiles/

# ### ignore virtualenv folder
# soloq/

# ### pycaches
# __pycache__/*
# */__pycache__/

# ###
# .idea/

# ### ignore scratch files
# scratch_*.py
# asdfasdfasdf.txt
# some_json.txt

# scraped_results.zip
# scraped_results2

# *.pem

# ### ignore nohup.out
# nohup.out

### ignore .ipynb_checkpoints
.ipynb_checkpoints

### ignore live data scraped
live_data/

### ignore generated data
saved_lists/
